
.movie-result-item:hover{
    cursor: pointer;
}

.movie-result-item{
display: flex;
flex-direction: row;
margin-top: 10px;
margin-bottom: 10px;
}

.mini-poster{
    background-position: center;
    margin-right: 10px;
    height: 100px;
    width:auto;
    max-width: 80px;
}

.search-results-movie-title{
    color:var(--text-color);
    font-size:small;
}