.movie-search-list{
    padding-top: 0;
    padding: 0;
    position: absolute;
    max-height: 80vh;
    height: auto;
    align-items: start;    
    overflow-y:scroll;
    overflow-x: hidden;
    border-radius: 0px 0px 15px 15px;
    z-index: 1;
    background-color:var(--imdb-dark-gray-transparent);
    min-width: 100%;
    display: flex;
    flex-direction: column;

    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.loading-search{
    width: 100%;
}

.movie-search-list::-webkit-scrollbar {
background-color: transparent;
  width: 5px; 
}
.movie-search-list::-webkit-scrollbar-track {
  background-color: transparent ;
}
.movie-search-list::-webkit-scrollbar-thumb {
  background: var(--imdb-yellow); 
  border-radius: 15px;
}
