@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

html, body, #root {
    --imdb-font: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    max-width: 100dvw;
    
    margin: 0;
    padding: 0;
  --imdb-yellow: #f5c518;
  --imdb-black: #000000;
  --imdb-dark-gray: #121212;
  --imdb-dark-gray-transparent:#12121280; 
  --text-color: #ffffff;
  --padding-standard: 20px;
}

body {
    font-family: var(--imdb-font);
    margin: 0px;
    min-height: 100dvh;
    max-width: 100dvw;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    background-color:var(--imdb-black);
    font-family: sans-serif;
}

body::-webkit-scrollbar {
background-color: transparent;
  width: 5px; 
}
body::-webkit-scrollbar-track {
  background-color: transparent ;
}
body::-webkit-scrollbar-thumb {
  background: var(--imdb-yellow); 
  border-radius: 15px;
}