.confirmation-modal{
    background-color: var(--imdb-dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap:2em;
    border-radius: 4px;
}

.confirmation-modal h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: var(--imdb-yellow);
}

.button-container{
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.cancel-button, .confirm-button{
    height: auto;
    width:100px;
    background-color: transparent;
    border: solid 2px var(--imdb-yellow);
    color: var(--imdb-yellow);
}

.button:hover{
    scale:1.1;
}

@media(max-width:785px) and (hover:none){
    .button:active{
        scale:1.1;
    }
} 